.NavItem {
  width: 7.88rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  border-radius: 3.13rem;
  background-color: white;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: rgb(222, 222, 222);
  }
  &:first-child {
    background-color: rgb(255, 171, 8);
  }
}
