@import '../../style/template.scss';

.wrapperBtn {
  width: 276px;
  height: 40px;
  .btn {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: rgb(242, 242, 243);
    border: none;
    font-family: Nunito;
    font-size: 16px;
    line-height: 100%;
  }
}
