.container {
  width: 18.75rem;
  height: 29.19rem;
  padding: 1rem;
  background-color: white;
  border-radius: 1.13rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 4.2rem;
}
.titleContainer,
.total,
.delivery 
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.titleContainer {
  h3 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 100%;
  }
  p {
    width: 2.56rem;
    height: 1.25rem;
    border-radius: 0.38rem;
    background: rgb(242, 242, 243);
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
