@import "../../style/template.scss";

.wrapperHeader {
  width: 100%;
  height: 466px;
  background-image: url("../../assets/headerBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  padding-top: 24px;
  margin-bottom: 30px;
  .wrapperLogo {
    display: flex;
    justify-content: center;
    .logo {
      margin-bottom: 29px;
    }
  }
  .mainInfoHeader {
    display: flex;
    gap: 58px;
    width: 799px;
    margin: 0 auto;
    padding-top: 2rem;
    .headerText {
      .deliveryText {
        color: rgb(255, 255, 255);
        font-family: Nunito;
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        margin-bottom: 10px;
      }
    }
    .logo {
      width: 270px;
      height: 289px;
    }
  }
}
