@import "../../style/template.scss";
.wrapperFooter {
  padding-left: 75px;
  .logoAndInfo {
    display: flex;
    flex-wrap: wrap;
    gap: 360px;
    .logo {
      width: 304.32px;
      height: 66.59px;
      margin-bottom: 55px;
    }
    .info {
      display: flex;
      gap: 126px;
      .infoTitle {
        margin-bottom: 26px;
        font-family: Nunito;
        font-size: 24px;
        line-height: 100%;
      }
      .internet {
        img {
          margin-right: 16px;
        }
      }
      .tel {
        display: flex;
        gap: 1.5px;
        .telNumber {
          font-family: Nunito;
          font-size: 16px;
          line-height: 130%;
        }
      }
    }
  }
  .authors {
    font-family: Nunito;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 40px;
    p {
      margin-bottom: 4px;
    }
  }
}
