.wrapperBasketItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .basketContent {
    display: flex;
    gap: 5px;
    .basketImg {
      width: 64px;
      height: 52px;
    }
    .basketTitle,
    .basketPrice {
      font-family: Nunito;
      font-size: 12px;
      line-height: 16px;
    }
    .basketGramm {
      color: rgb(177, 177, 177);
      font-family: Nunito;
      font-size: 12px;
      line-height: 16px;
      margin-bottom: 6px;
    }
  }
  .counter {
    width: 84px;
    height: 40px;
    border-radius: 12px;
    background: rgb(242, 242, 243);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 9px;
    .pointer {
      font-family: Nunito;
      font-size: 16px;
      line-height: 22px;
      border: none;
      cursor: pointer;
    }
  }
}
hr {
  margin: 16px 0;
  background-color: rgb(242, 242, 243);
}
